*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    height: 90vh;
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.login{
    min-height: 396px;
    min-width: 350px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-radius: 1px;
    padding: 6px;
}

.register{
    margin-top: 10px;
    min-width: 350px;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-radius: 1px;
}

.dowload{
    margin-top: 10px;
    min-height: 102px;
    min-width: 350px;
    border-radius: 1px;
}

.bilgiler{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bilgiler img{
    padding-top: 2.2rem;
    margin-bottom: 2rem;
}

.form-floating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#username-id,#password-id,.form-control{
    width: 80%;
    padding:9px 0px 7px 8px;
    margin-top: 8px;
    background: rgb(250,250,250);
    color: #262626;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #dbdbdb;
    outline: none;
    height: 36px;

    
}

.form-control:hover{
   border: 0;
}

#username-id, #password-id,.form-control:focus{
    border: solid 1px #a8a8a8 !important;
    outline: none;
    transition: none;
}

#username-id, #password-id,.form-control:hover{
    border: solid 1px #a8a8a8 !important;
    outline: none;
    transition: none;


}

label{
    font-size: 12px;
    position: relative;
    left: 28px !important;
    color: rgb(142,142,142);
}

.btn-main{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;

}

.login-btn{
    width: 80%;
    height: 30px;
    color: white;
    background-color: rgba(0,149,246,0.3);
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control{
    border-radius: 3px !important;
    border: none;
}

.yada{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.line{
    display: block;
    width: 100px;
    border: 1px solid #dbdbdb;  
}

.yada-text{
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #8e8e8e;
    background-color: #fff;
    width: 20%;
    text-align: center;
}

.facebook-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.facebook-btn-link{
    color: #385185;
    outline: none;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
}

.facebook-btn-link:hover{
    color: #385185;
}

.password-forget{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.password-forget-btn{
    font-size: 12px;
    color: #00376b;
    text-decoration: none;
}

.password-forget-btn:hover{
    color: #00376b;
}

.register-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-text-icerik{
    margin: 20px;
    font-size: 14px;
}

.register-ol-text{
    text-decoration: none;
    font-weight: 600;
    color: #0095f6;
}

.dowload-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-top: 1rem;
}

.dowload-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dowload-logo img{
    height: 40px;
}

footer{
    position: absolute;
    display: fixed;
    top: 90%;
}

.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.footer-main a{
    margin: 0px 5px;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}


.footer-copy{
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.footer-copy select{
    color: #8e8e8e;
    background:none;
    border: none;
}

.copy-text{
    margin: 0;
}

@media only screen and (max-width: 600px){
    .login{
        border: none;
        background:none;
    }
    .register{
        border: none;
        background:none;
    }
}

@media only screen and (max-width: 820px){
    .footer-items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .footer-items a{
        margin: 5px;
    }

    .footer-main{
        padding-bottom: 1rem;
    }
}
